
  @font-face {
  font-family: 'Gelion Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gelion Regular'), url('./font/Gelion\ Regular.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Gelion Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gelion Light'), url('./font/Gelion\ Light.woff') format('woff');
  }


  @font-face {
    font-family: 'Gelion Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gelion Bold'), url('./font/Gelion\ Bold.woff') format('woff');
    }

body {
  margin: 0;
  font-family: "Gelion Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: "Gelion Regular";
  box-sizing: border-box;
}
